
@media screen and (max-width: 600px) {
    .yith-pt-testimonials{       
        display: grid;                
        grid-template-columns: repeat(1,auto);
        padding: 1% 1%;
    }
}

@media screen and (min-width: 600px)  and (max-width: 1000px) {
    .yith-pt-testimonials{       
        display: grid;                
        grid-template-columns: repeat(2,auto);
        padding: 1% 10%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
    .yith-pt-testimonials{  
        display: grid;                      
        grid-template-columns: repeat(3,auto);
        padding: 1% 10%;
    }
}

@media screen and (max-width: 1600px) {
    .post-thumbnail, .entry-content .wp-audio-shortcode, .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce), *[class*=inner-container] > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce), .default-max-width{
        max-width: 100%;
    }

    .yith-pt-testimonial-container {
        -webkit-box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);
        box-shadow: 0px 11px 23px 1px rgba(0,0,0,0.35);

        margin: 10px;
        padding: 5%;
        background-color: white;
        border-radius: 12px;
    }

    .yith-pt-testimonial-image > img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .yith-pt-testimonial-container.withZoom:hover{
        transition: transform 1s; /* Animation */
        transform:scale(1.1);
    }
    .yith-pt-testimonial-container.withHighlight:hover{
        transition: transform .2s; /* Animation */
        border: 2px solid lightskyblue;
    }
}